* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100px;
  /* padding: 5px; */
}

h5,p {
  font-size: 14px;
}

.card:hover {
  cursor: pointer;
}

.card-body {
  padding: .75rem;
}

.character-container {
  padding: 5px;
  width: 7rem;
}

.selected-character {
  border: 2px solid green;
}

.opponents {
  border: 2px solid red;
}

.bg-danger {
  width: 100%;
}

/*media queries*/

@media(min-width: 350px) {
  .character-container {
    width: 9rem;
  }  
}

@media(min-width: 576px) {
  .character-container {
    width: 12rem;
  }
  img {
    height: 150px;
  }
  h5,p {
    font-size: 18px;
  }
}

@media(min-width: 768px) {
  .character-container {
    width: 14rem;
  }
  h5,p {
    font-size: 20px;
  }
}